<app-header></app-header>
<div class="container py-5">
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-5 bg-white rounded">
          <div class="container-fluid py-5">
            <div class="row mb-4">
              <div class="col-md-4">
                <label for="min">Date from:</label>
                <input type="text" id="min" name="min" class="form-control" placeholder="YYYY-MM-DD">
              </div>
              <div class="col-md-4">
                <label for="max">Date to:</label>
                <input type="text" id="max" name="max" class="form-control" placeholder="YYYY-MM-DD">
              </div>
            </div>
            <table id="example" style="width:100%" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">summary</th>
                  <th scope="col">createDt</th>
                  <th scope="col">expirationDt</th>
                  <th scope="col">status</th>
                  <th scope="col">doctorId</th>
                  <th scope="col">patientId</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let prescription of prescriptionsArray; let i = index" >
                  <td>{{ i + 1 }}</td>
                  <td>{{ prescription.prescriptionsSummary  }}</td>
                  <td>{{ prescription.createDt  }}</td>
                  <td>{{ prescription.expirationDt  }}</td>
                  <td>{{ prescription.status }}</td>
                  <td>{{ prescription.doctorId  }} €</td>
                  <td>{{ prescription.patientId  }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>