<app-header></app-header>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form (ngSubmit)="loginForm.valid && validateUser(loginForm)" class="login100-form validate-form p-l-55 p-r-55 p-t-140" #loginForm="ngForm">
        <span class="login100-form-title">
          Change Password
        </span>

        <div class="form-group">
          <div class="wrap-input100 validate-input" data-validate="Please enter password">
            <input class="input100" type="password" name="password" placeholder="Password" id="password" required
            [(ngModel)]="model.password" #password="ngModel" minlength="5">
            <span class="focus-input100"></span>
          </div>
          <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) && password.errors?.['required']">Error : Password is required !</span>
          <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) && password.errors?.['minlength']">Error : Password must be at least 5 characters long. !</span>
        </div>

        <!-- New Password Confirmation Field -->
        <div class="form-group">
          <div class="wrap-input100 validate-input" data-validate="Please enter password again">
            <input class="input100" type="password" name="password2" placeholder="Confirm Password" id="password2" required
            [(ngModel)]="model.password2" #password2="ngModel">
            <span class="focus-input100"></span>
          </div>
          <span class="text-danger" *ngIf="(password2.touched || loginForm.submitted) && !passwordsMatch">Error : Passwords do not match !</span>
        </div>



        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Confirm Password 
          </button>
        </div>

        <div class="flex-col-c p-t-40 p-b-20">
          <span class="txt1 p-b-9">
            or you can
          </span>
          <a href="login" class="txt3">Log in now</a>
        </div>
      </form>
    </div>
  </div>
</div>
