<app-header></app-header>
      <div class="welcome py-1">
        <div class="container py-xl-1 py-lg-1" id="services">
            <div class="row">
                <div class="col-lg-5 welcome-left">
                    <h3 class="title-w3ls mt-2 mb-3">Services provided by HealthCare</h3>

                    <p class="mt-4 pr-lg-5">Health Care offers a diverse range of Health Care services to petiants through a growing network of Health Care profetionals.

                    </p>
                </div>
                <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                    <div class="row">
                        <div class="col-sm-4 service-1-w3pvt serve-gd1">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-users s1"></span>
                                <p class="mt-2">Personal  </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd2">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-handshake-o s2"></span>
                                <p class="mt-2">Business  </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-home s3"></span>
                                <p class="mt-2">Home  </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd3">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-ambulance s4"></span>
                                <p class="mt-2">Auto  </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-stethoscope s5"></span>
                                <p class="text-li mt-2">Health  </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-graduation-cap s6"></span>
                                <p class="mt-2">Education  </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>