<app-header></app-header>
<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    <div class="welcome-msg pt-3 pb-4">
      <h1>Hi <span class="text-dark">{{user.firstName}}</span>, Welcome back</h1>
      <p>You logged in as {{user.role}}</p>
    </div>

    <!-- Admin content -->
    <div *ngIf="user.role === 'Admin'">
      <h2>Admin Dashboard</h2>
      <p>Here are your admin controls.</p>
      <!-- Admin specific content goes here -->
    </div>

    <!-- User content -->
    <div *ngIf="user.role === 'User'">
      <h2>User Dashboard</h2>
      <p>Here are your user options.</p>
      <!-- User specific content goes here -->
    </div>

    <!-- Patient content -->
    <div *ngIf="user.role === 'Patient'">
      <h2>Patient Dashboard</h2>
      <p>Here are your medical options.</p>
      <!-- Patient specific content goes here -->
      <div class="statistics">
        <div class="row">
          <div class="col-xl-6 pr-xl-2">
            <div class="row">
              <div class="col-sm-6 pr-sm-2 statistics-grid account" routerLink="/myAccount">
                <div class="card card_border border-primary-top p-4">
                  <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                  <h3 class="text-dark number">Account</h3>
                  <p class="stat-text">View account details</p>
                </div>
              </div>
              <div class="col-sm-6 pl-sm-2 statistics-grid appointments" routerLink="/myAppointments">
                <div class="card card_border border-primary-top p-4">
                  <i style="font-size: 3em; color : #343a40;" class="fa fa-calendar"></i>
                  <h3 class="text-dark number">Appointments</h3>
                  <p class="stat-text">View your appointments</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 pr-xl-2">
            <div class="row">
              <div class="col-sm-6 pr-sm-2 statistics-grid prescriptions" routerLink="/Prescription/ViewMyPrescription">
                <div class="card card_border border-primary-top p-4">
                  <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                  <h3 class="text-dark number">My Prescriptions </h3>
                  <p class="stat-text">View your Doctor Prescriptions</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pl-sm-2 statistics-grid" routerLink="/SearchForAppointments">
            <div class="card card_border border-primary-top p-4">
              <i style="font-size: 3em; color : #343a40;" class="fa fa-envelope"></i>
              <h3 class="text-dark number">Search for appointments</h3>
              <p class="stat-text">Search for avelable appointments by critiria</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Doctor content -->
    <div *ngIf="user.role === 'Doctor'">
      <h2>Doctor Dashboard</h2>
      <p>Here are your medical options.</p>
      <!-- Patient specific content goes here -->
      <div class="statistics">
        <div class="row">
          <div class="col-xl-6 pr-xl-2">
            <div class="row">
              <div class="col-sm-6 pr-sm-2 statistics-grid account" routerLink="/myAccount">
                <div class="card card_border border-primary-top p-4">
                  <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                  <h3 class="text-dark number">Account</h3>
                  <p class="stat-text">View account details</p>
                </div>
              </div>
              <div class="col-sm-6 pl-sm-2 statistics-grid appointments" routerLink="/myAppointments">
                <div class="card card_border border-primary-top p-4">
                  <i style="font-size: 3em; color : #343a40;" class="fa fa-calendar"></i>
                  <h3 class="text-dark number">Appointments</h3>
                  <p class="stat-text">View your appointments</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pl-sm-2 statistics-grid patient" routerLink="/Prescription/myPatients">
            <div class="card card_border border-primary-top p-4">
              <i style="font-size: 3em; color : #343a40;" class="fa fa-envelope"></i>
              <h3 class="text-dark number">My Patient</h3>
              <p class="stat-text">View your patients</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 pr-xl-2">
            <div class="row">
              <div class="col-sm-6 pr-sm-2 statistics-grid avelable-drugs" routerLink="/myAvailableDrugs">
                <div class="card card_border border-primary-top p-4">
                  <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                  <h3 class="text-dark number">Avelable Drugs List</h3>
                  <p class="stat-text">View avelable drugs list</p>
                </div>
              </div>
              <div class="col-sm-6 pl-sm-2 statistics-grid" routerLink="/ViewMySchedule">
                <div class="card card_border border-primary-top p-4">
                  <i style="font-size: 3em; color : #343a40;" class="fa fa-calendar"></i>
                  <h3 class="text-dark number">My Schedule</h3>
                  <p class="stat-text">View My Schedule</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 pr-sm-2 statistics-grid prescriptions" routerLink="/Prescription/ViewMyPrescription">
            <div class="card card_border border-primary-top p-4">
              <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
              <h3 class="text-dark number">My Prescriptions </h3>
              <p class="stat-text">View your Doctor Prescriptions</p>
            </div>
          </div>
        </div>
      </div>
    </div>

      <!-- Doctor content -->
      <div *ngIf="user.role === 'Pharmacist'">
        <h2>Pharmacist Dashboard</h2>
        <p>Here are your Pharmacy options.</p>
        <!-- Patient specific content goes here -->
        <div class="statistics">
          <div class="row">
            <div class="col-xl-6 pr-xl-2">
              <div class="row">
                <div class="col-sm-6 pr-sm-2 statistics-grid account" routerLink="/myAccount">
                  <div class="card card_border border-primary-top p-4">
                    <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                    <h3 class="text-dark number">Account</h3>
                    <p class="stat-text">View account details</p>
                  </div>
                </div>
                <div class="col-sm-6 pr-sm-2 statistics-grid avelable-drugs" routerLink="/myAvailableDrugs">
                  <div class="card card_border border-primary-top p-4">
                    <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                    <h3 class="text-dark number">Avelable Drugs List</h3>
                    <p class="stat-text">View avelable drugs list</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 pr-sm-2 statistics-grid prescriptions" routerLink="/Prescription/SearchForPrescription">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                <h3 class="text-dark number">Search for Prescriptions </h3>
                <p class="stat-text">Search for Prescriptions</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- User data
    <div class="statistics">
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid account" routerLink="/myAccount">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                <h3 class="text-dark number">Account</h3>
                <p class="stat-text">View account details</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid appointments" routerLink="/myAppointments">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-calendar"></i>
                <h3 class="text-dark number">Appointments</h3>
                <p class="stat-text">View your appointments</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pl-sm-2 statistics-grid patient" routerLink="/Prescription/myPatients">
          <div class="card card_border border-primary-top p-4">
            <i style="font-size: 3em; color : #343a40;" class="fa fa-envelope"></i>
            <h3 class="text-dark number">My Patient</h3>
            <p class="stat-text">View your patients</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid avelable-drugs" routerLink="/myAvailableDrugs">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                <h3 class="text-dark number">Avelable Drugs List</h3>
                <p class="stat-text">View avelable drugs list</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid drugs" routerLink="/myDrugs">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-calendar"></i>
                <h3 class="text-dark number">Drugs List</h3>
                <p class="stat-text">View avelable drugs list</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pl-sm-2 statistics-grid email" routerLink="/Email/inbox">
          <div class="card card_border border-primary-top p-4">
            <i style="font-size: 3em; color : #343a40;" class="fa fa-envelope"></i>
            <h3 class="text-dark number">Email</h3>
            <p class="stat-text">View your Emails</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid prescriptions" routerLink="/Prescription/ViewMyPrescription">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                <h3 class="text-dark number">My Prescriptions </h3>
                <p class="stat-text">View your Doctor Prescriptions</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid" routerLink="/ViewMySchedule">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-calendar"></i>
                <h3 class="text-dark number">My Schedule</h3>
                <p class="stat-text">View My Schedule</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pl-sm-2 statistics-grid" routerLink="/SearchForAppointments">
          <div class="card card_border border-primary-top p-4">
            <i style="font-size: 3em; color : #343a40;" class="fa fa-envelope"></i>
            <h3 class="text-dark number">Search for appointments</h3>
            <p class="stat-text">Search for avelable appointments by critiria</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid prescriptions" routerLink="/Prescription/SearchForPrescription">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                <h3 class="text-dark number">Search for Prescriptions </h3>
                <p class="stat-text">Search for Prescriptions</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid" routerLink="">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-calendar"></i>
                <h3 class="text-dark number">Empty</h3>
                <p class="stat-text">Empty</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pl-sm-2 statistics-grid" routerLink="">
          <div class="card card_border border-primary-top p-4">
            <i style="font-size: 3em; color : #343a40;" class="fa fa-envelope"></i>
            <h3 class="text-dark number">Empty</h3>
            <p class="stat-text">Empty</p>
          </div>
        </div>
      </div>      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid prescriptions" routerLink="">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-user-circle-o"> </i>
                <h3 class="text-dark number">Empty</h3>
                <p class="stat-text">Empty</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid" routerLink="">
              <div class="card card_border border-primary-top p-4">
                <i style="font-size: 3em; color : #343a40;" class="fa fa-calendar"></i>
                <h3 class="text-dark number">Empty</h3>
                <p class="stat-text">Empty</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 pl-sm-2 statistics-grid" routerLink="">
          <div class="card card_border border-primary-top p-4">
            <i style="font-size: 3em; color : #343a40;" class="fa fa-envelope"></i>
            <h3 class="text-dark number">Empty</h3>
            <p class="stat-text">Empty</p>
          </div>
        </div>
      </div>
    </div>
     -->
  </div>
  <!-- //content -->
</div>
<!-- main content end-->
