<app-header></app-header>
<div class="container py-5">
  <div class="row py-5">
    <div class="col-lg-10 mx-auto">
      <div class="card rounded shadow border-0">
        <div class="card-body p-5 bg-white rounded">
          <div class="container-fluid py-5">
            <table id="example" style="width:100%" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">IsMyPatient</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let patient of patientsArray; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ patient.firstName }}</td>
                  <td>{{ patient.email }}</td>
                  <td>{{ patient.mobileNumber }}</td>
                  <td><span *ngIf="patient.myPatient; else notMyPatient">Yes</span></td>
                  <ng-template #notMyPatient>No</ng-template>
                  <td>
                    <button (click)="onButtonClick(patient, 'view')" class="btn btn-primary btn-sm" *ngIf="patient.myPatient">View</button>
                    <button (click)="onButtonClick(patient, 'prescribe')" class="btn btn-warning btn-sm" *ngIf="patient.myPatient">Prescribe</button>
                    <button (click)="onButtonClick(patient, 'delete')" class="btn btn-danger btn-sm" *ngIf="patient.myPatient">Remove</button>
                    <button (click)="onButtonClick(patient, 'add')" class="btn btn-success btn-sm" *ngIf="!patient.myPatient">Add</button>
                  </td>
                </tr>
                <tr *ngIf="patientsArray.length === 0">
                  <td colspan="6" class="text-center">No patients found.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="">
        <button class="btn btn-Optican" (click)="onUpdateClick()">
          UPDATE
        </button>
      </div>
    </div>
  </div>
</div>
